



.login-container {
  background: #000;
  padding: 30px;
  width: 320px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  margin: 50px auto;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #e8e5e5;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #560707;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.input-group input:focus {
  border-color: #667eea;
}

button {
  width: 100%;
  padding: 10px;
  background: #667eea;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  /* margin-top: 10px; */
}

button:hover {
  background: #5a67d8;
}

.register-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #fff;
}

.register-link a {
  color: #667eea;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
