.playlist-page {
  padding: 20px;
  margin-left: 240px;
  /* color: #fff; */
}

.playlist-page-grow {
  margin-left: 80px;
}

.playlist-title {
  font-size: 22px;
  margin-bottom: 20px;
}

.playlist-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.playlist-card {
  background: #181818;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.playlist-card:hover {
  transform: scale(1.03);
}

.playlist-thumb {
  height: 130px;
  background: #333;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.playlist-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.empty-thumb {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  font-size: 14px;
}

.playlist-info {
  padding: 10px;
}

.playlist-info h4 {
  font-size: 15px;
  margin-bottom: 4px;
  color: #fff;
}

.playlist-info p {
  font-size: 13px;
  color: #aaa;
}

.create-section {
  margin-top: 30px;
  text-align: center;
}

.create-section button {
  padding: 10px 18px;
  border-radius: 20px;
  border: none;
  background: #ff0000;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.create-section button:hover {
  background: #e60000;
}

.empty-text {
  color: #aaa;
}


/* INFO ROW */
.playlist-info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* THREE DOTS */
.playlist-menu {
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  color: #fff;
}

/* DROPDOWN */
.playlist-dropdown {
  position: absolute;
  right: 0;
  top: 28px;
  background: #1f1f1f;
  border-radius: 6px;
  z-index: 10;
}

.playlist-dropdown button {
  background: none;
  border: none;
  color: #ff4d4d;
  padding: 8px 12px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.playlist-dropdown button:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* DELETE MODAL */
.delete-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.delete-modal {
  background: #181818;
  padding: 20px;
  border-radius: 8px;
  width: 320px;
  text-align: center;
}

.delete-modal h3 {
  margin-bottom: 10px;
}

.delete-modal p {
  font-size: 14px;
  color: #aaa;
}

.delete-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancel-btn {
  background: #333;
  border: none;
  padding: 8px 16px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn {
  background: #ff4d4d;
  border: none;
  padding: 8px 16px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
