.playlist-detail {
  padding: 20px;
  margin-left: 240px;
  color: #fff;
}

.playlist-detail-grow {
  margin-left: 80px;
}

/* HEADER */
.playlist-header {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.playlist-thumb {
  width: 260px;
  height: 150px;
  background: #333;
  border-radius: 10px;
  overflow: hidden;
}

.playlist-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.empty-thumb {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
}

.playlist-meta h2 {
  font-size: 24px;
}

.playlist-meta p {
  color: #aaa;
  margin: 8px 0;
}

/* VIDEOS */
/* VIDEOS */
.playlist-videos {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* single video row */
.playlist-video {
  display: flex;
  align-items: center;
  gap: 14px;
  background: #181818;
  padding: 12px;
  border-radius: 12px;
  transition: background 0.2s ease;
}

.playlist-video:hover {
  background: #242424;
}

/* index number */
.index {
  font-size: 14px;
  color: #aaa;
  width: 22px;
  text-align: center;
}

/* thumbnail */
.playlist-video img {
  width: 160px;
  height: 90px;
  border-radius: 8px;
  object-fit: cover;
}

/* info */
.vid-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.vid-info h4 {
  font-size: 15px;
  font-weight: 500;
  /* color: #fff; */
  line-height: 1.3;
}

.vid-info p {
  font-size: 13px;
  color: #aaa;
}

/* remove button */
.remove-btn {
  margin-left: auto;
  background: #2a2a2a;
  border: none;
  color: #aaa;
  font-size: 14px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.remove-btn:hover {
  background: rgba(255, 0, 0, 0.15);
  color: #ff4d4d;
}

/* loading */
.loading-text {
  margin-left: 260px;
  padding: 20px;
  color: #aaa;
}


/* THREE DOT MENU */
.playlist-menu-wrapper {
  position: relative;
}

.playlist-menu-btn {
  background: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: #aaa;
}

.playlist-menu-dropdown {
  position: absolute;
  right: 0;
  top: 28px;
  background: #212121;
  border-radius: 8px;
  min-width: 160px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.playlist-menu-item {
  padding: 10px 14px;
  cursor: pointer;
}

.playlist-menu-item:hover {
  background: #383838;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal-box {
  background: #181818;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
}

.modal-box h3 {
  margin-bottom: 12px;
}

.modal-box input,
.modal-box textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  background: #121212;
  border: 1px solid #333;
  color: #fff;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
