.profile-container {
  max-width: 900px;
  /* margin: 40px auto; */
  width: calc(100% - 250px);
  margin-left: 250px;
  transition: all 0.25s ease;
  font-family: sans-serif;
}
.profile-container-grow {
  width: calc(100%-90px);
  margin-left: 90px;
}
.cover-section {
  margin-bottom: 30px;
}

.cover-preview {
  width: 100%;
  height: 165px;
  background: #222;
  border-radius: 12px;
  /* margin-bottom: 10px; */
  overflow: hidden;
}

.cover-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover-section input[type="file"] {
  display: block;
  margin: 10px 0;
  color:  red;
}

.cover-actions,
.avatar-actions {
  display: flex;
  gap: 12px;
}

.avatar-preview {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #e5e7eb;
  overflow: hidden;
  margin-bottom: 15px;
}

.avatar-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.btn {
  padding: 10px 16px;
  border-radius: 8px;
  /* background: #e5e7eb; */
  border: none;
  cursor: pointer;
  font-weight: 500;
   background: #4f46e5;
}

.details-card h4{
  margin-top: 15px;
}

.btn.primary {
  background: #4f46e5;
  color: white;
}

.btn:hover {
  opacity: 0.8;
}
